spring:
  main:
    cloud-platform: kubernetes
  lifecycle:
    timeout-per-shutdown-phase: 30s

server:
  shutdown: graceful
  servlet:
    context-path: ${SERVER_CONTEXT_PATH:/}
  ssl:
    enabled: ${SERVER_SSL_ENABLED:false}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      group:
        readiness:
          include: readinessState,db
