spring:
  application:
    name: testfachdienst

  datasource:
    url: jdbc:h2:mem:erezeptdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate.format_sql: true
  h2:
    console:
      enabled: ${H2_CONSOLE_ENABLED:false}
      path: /h2-console
  main:
    cloud-platform: kubernetes
  lifecycle:
    timeout-per-shutdown-phase: 30s

server:
  address: 0.0.0.0
  port: ${SERVER_PORT:8080}
  shutdown: graceful
  servlet:
    context-path: ${SERVER_CONTEXT_PATH:/achelos_testfachdienst}
  forward-headers-strategy: framework
  ssl:
    enabled: ${SERVER_SSL_ENABLED:true}
    # --- Server identity (private key + cert chain) ---
    key-store: ${TLS_KEYSTORE:classpath:tls/keystore.p12}
    key-store-password: ${TLS_KEYSTORE_PASSWORD:password}
    key-store-type: ${TLS_KEYSTORE_TYPE:PKCS12}
    key-alias: ${TLS_KEY_ALIAS:app}
    # --- Client authentication (mutual TLS) ---
#    trust-store: ${TLS_TRUSTSTORE:classpath:tls/truststore.p12}
#    trust-store-password: ${TLS_TRUSTSTORE_PASSWORD:changeit}
#    trust-store-type: ${TLS_TRUSTSTORE_TYPE:PKCS12}
#    client-auth: ${TLS_CLIENT_AUTH:need}

management:
  server:
    port: ${MANAGEMENT_SERVER_PORT:${SERVER_PORT:8080}}
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,metrics,prometheus,otlp
  endpoint:
    health:
      show-details: when_authorized
      probes:
        enabled: true
      group:
        readiness:
          include: readinessState,db
  metrics:
    export:
      prometheus:
        enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true

selfdisclosure:
  resource-attributes:
    product_name: "Testfachdienst"
    product_version: 0.1.3
    producttype_version: 1.0.0
    configuration_version: 0.1.3

otlp:
  export:
    logs:
      intervalSeconds: ${OTLP_EXPORT_INTERVAL_SECONDS:30}
      grpc:
        enabled: ${OTLP_EXPORT_GRPC_ENABLED:false}
        host: ${OTLP_EXPORT_GRPC_HOST:zeta-guard-telemetry-gateway:4317}
      http:
        enabled: ${OTLP_EXPORT_HTTP_ENABLED:false}
        host: ${OTLP_EXPORT_HTTP_HOST:http://zeta-guard-telemetry-gateway:4318}

jobrunr:
  background-job-server:
    enabled: true
    poll-interval-in-seconds: 5
  dashboard:
    enabled: true
    port: 18000

logging:
  level:
    root: INFO
    de.gematik: DEBUG

springwolf:
  enabled: true
  docket:
    base-package: de.gematik.zeta.testfachdienst.ws
    info:
      title: "${spring.application.name} AsyncAPI"
      version: "0.1.0"
    servers:
      ws:
        protocol: stomp
        host: "wss://achelos_testfachdienst.de/ws"
